<div class="container" id="dashboard">
  <div class="row">
    <div class="col-sm-12 text-center m-bot-50">
      <h2> Dashboard </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h6 class="m-bot-10">Use this tabs to generate and edit the day configuration and availability & to moderate the customer's opinions.</h6>
      <ul class="m-bot-20">
        <li>
          <small>
            <strong>approved opinions go to the homepage's carousel!</strong>
          </small>
        </li>
        <li>
          <small>
            <strong>Already created days will no be overwritten, so do not panic if you overlap days...</strong>
          </small>
        </li>
      </ul>
      <mat-tab-group id="days-tabs">
        <mat-tab label="Massive Day Creation">
          <div class="row">
            <div class="col-md-2">
              <div class="instructions">
                <span class="instruction-number">1.</span> Select in & out dates and click the button! </div>
            </div>
            <div class="col-md-10">
              <mat-form-field class="full-input">
                <input matInput [matDatepicker]="createPickerIn" placeholder="FROM date">
                <mat-datepicker-toggle matSuffix [for]="createPickerIn"></mat-datepicker-toggle>
                <mat-datepicker #createPickerIn></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="full-input">
                <input matInput [matDatepicker]="createPickerOut" placeholder="TO date">
                <mat-datepicker-toggle matSuffix [for]="createPickerOut"></mat-datepicker-toggle>
                <mat-datepicker #createPickerOut></mat-datepicker>
              </mat-form-field>
              <button (click)="createDays(createPickerIn,createPickerOut)" mat-raised-button color="accent" class="d-block float-right">Create days!</button>
              <div *ngIf="message" class="message"> You have created {{message.length}} days successfully: </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Massive days update">
          <div class="row">
            <div class="col-md-2">
              <div class="instructions">
                <span class="instruction-number">1.</span> Select in & out dates </div>
            </div>
            <div class="col-md-10">
              <mat-form-field class="full-input">
                <input matInput [matDatepicker]="updatePickerIn" placeholder="FROM date">
                <mat-datepicker-toggle matSuffix [for]="updatePickerIn"></mat-datepicker-toggle>
                <mat-datepicker #updatePickerIn></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="full-input">
                <input matInput [matDatepicker]="updatePickerOut" placeholder="TO date">
                <mat-datepicker-toggle matSuffix [for]="updatePickerOut"></mat-datepicker-toggle>
                <mat-datepicker #updatePickerOut></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="instructions">
                <span class="instruction-number">2.</span> Select status for the restaurant during this period </div>
            </div>
            <div class="col-md-10">
              <div class="status">Restaurant status:
                <mat-form-field class="status-select">
                  <mat-select [class]="dayConfig.status" [(ngModel)]="dayConfig.status">
                    <mat-option value="open"> Open </mat-option>
                    <mat-option value="closed"> Closed </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="instructions">
                <span class="instruction-number">3.</span> Configure the shift avaialbility (remember, zero means no shift; default is 20) </div>
            </div>
            <div class="col-md-10">
              <div class="shifts">
                <div class="row">
                  <div class="col-6 col-sm-3 col-lg-2 text-center" *ngFor="let shift of dayConfig.shift; let i=index;">
                    <div class="shift-hour"> {{shift.hour}} </div>
                    <div class="shift-availability">
                      <mat-form-field>
                        <input class="text-center" matInput [value]="shift.current" [(ngModel)]="shift.current"> </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <button (click)="updateDays(updatePickerIn,updatePickerOut)" mat-raised-button color="accent" class="d-block m-top-40 float-right">Update days!</button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Comments Management">
          <div class="row comment-row" *ngFor="let comment of comments">
            <div class="col-sm-3">
              <div class="details">
                <mat-form-field class="status-select">
                  <mat-select [class]="comment.status" [value]="comment.status" [(ngModel)]="comment.status" (change)="changeCommentStatus(comment._id,comment.status)">
                    <mat-option value="false"> Not approved </mat-option>
                    <mat-option value="true"> Approved </mat-option>
                    <mat-option value="delete"> Delete </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="details">
                <small>Name: {{comment.user_Id.name}} | Email: {{comment.user_Id.email}} | Phone: {{comment.user_Id.phone}}</small>
                <p class="comment">{{comment.content}}</p>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <!-- menu config tabs -->
  <div class="row m-top-20" *ngIf="menu.length > 0" id="week-menu-config">
    <div class="col-sm-12">
      <h6 class="m-bot-10">Use this tabs to show the week daily menu on the front page.</h6>
      <ol class="m-bot-20">
        <li>
          <small>
            <strong>Click Edit button.</strong>
          </small>
        </li>
        <li>
          <small>
            <strong>Select if we offer daily menu for each day</strong>
          </small>
        </li>
        <li>
          <small>
            <strong>4 starters, 4 main dishes and 2 desserts</strong>
          </small>
        </li>
        <li>
          <small>
            <strong>The comment will be visible even if we do not offer menu that day, so use it to communicate with the customers
              if you need to.</strong>
          </small>
        </li>
        <li>
          <small>
            <strong>Change the price if you need to. Default is 12€</strong>
          </small>
        </li>
        <li>
          <small>
            <strong>If all days are disabled, the widget will be hidden in the front page.</strong>
          </small>
        </li>
      </ol>
      <mat-tab-group>
        <mat-tab label="Monday">
          <div class="row">
            <div class="col-sm-12">
              <mat-form-field class="menu[0].active">
                <mat-select [class]="menu[0].active" [value]="menu[0].active" disabled={{!switch}} [(ngModel)]="menu[0].active">
                  <mat-option value="true"> Yes, daily menu </mat-option>
                  <mat-option value="false"> No, we don't </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="starters-menu col-sm-3">
              <label>Starters</label>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[0].starters[0]}}" [(ngModel)]="menu[0].starters[0]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[0].starters[1]}}" [(ngModel)]="menu[0].starters[1]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[0].starters[2]}}" [(ngModel)]="menu[0].starters[2]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[0].starters[3]}}" [(ngModel)]="menu[0].starters[3]"> </mat-form-field>
            </div>
            <div class="main-course-menu col-sm-3">
              <label>Main Courses</label>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[0].mainCourses[0]}}" [(ngModel)]="menu[0].mainCourses[0]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[0].mainCourses[1]}}" [(ngModel)]="menu[0].mainCourses[1]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[0].mainCourses[2]}}" [(ngModel)]="menu[0].mainCourses[2]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[0].mainCourses[3]}}" [(ngModel)]="menu[0].mainCourses[3]"> </mat-form-field>
            </div>
            <div class="col-sm-3">
              <div class="desserts-menu">
                <label>Desserts</label>
                <mat-form-field>
                  <input matInput [disabled]="!switch" value="{{menu[0].desserts[0]}}" [(ngModel)]="menu[0].desserts[0]"> </mat-form-field>
                <mat-form-field>
                  <input matInput [disabled]="!switch" value="{{menu[0].desserts[1]}}" [(ngModel)]="menu[0].desserts[1]"> </mat-form-field>
              </div>
            </div>
            <div class="col-sm-3">
              <label>Other details</label>
              <mat-form-field class="price">
                <input matInput type="number" [disabled]="!switch" value="{{menu[0].price}}" [(ngModel)]="menu[0].price"> </mat-form-field>
              <mat-form-field>
                <textarea matInput [disabled]="!switch" value="Comments"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <button mat-raised-button (click)="editDayMenu(menu[0])">{{btntxt}}</button>
            </div>
          </div>
        </mat-tab>
        <!-- martes -->
        <mat-tab label="Tuesday">
          <div class="row">
            <div class="col-sm-12">
              <mat-form-field class="menu[1].active">
                <mat-select [class]="menu[1].active" [value]="menu[1].active" disabled={{!switch}} [(ngModel)]="menu[1].active">
                  <mat-option value="true"> Yes, daily menu </mat-option>
                  <mat-option value="false"> No, we don't </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="starters-menu col-sm-3">
              <label>Starters</label>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[1].starters[0]}}" [(ngModel)]="menu[1].starters[0]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[1].starters[1]}}" [(ngModel)]="menu[1].starters[1]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[1].starters[2]}}" [(ngModel)]="menu[1].starters[2]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[1].starters[3]}}" [(ngModel)]="menu[1].starters[3]"> </mat-form-field>
            </div>
            <div class="main-course-menu col-sm-3">
              <label>Main Courses</label>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[1].mainCourses[0]}}" [(ngModel)]="menu[1].mainCourses[0]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[1].mainCourses[1]}}" [(ngModel)]="menu[1].mainCourses[1]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[1].mainCourses[2]}}" [(ngModel)]="menu[1].mainCourses[2]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[1].mainCourses[3]}}" [(ngModel)]="menu[1].mainCourses[3]"> </mat-form-field>
            </div>
            <div class="col-sm-3">
              <div class="desserts-menu">
                <label>Desserts</label>
                <mat-form-field>
                  <input matInput [disabled]="!switch" value="{{menu[1].desserts[0]}}" [(ngModel)]="menu[1].desserts[0]"> </mat-form-field>
                <mat-form-field>
                  <input matInput [disabled]="!switch" value="{{menu[1].desserts[1]}}" [(ngModel)]="menu[1].desserts[1]"> </mat-form-field>
              </div>
            </div>
            <div class="col-sm-3">
              <label>Other details</label>
              <mat-form-field class="price">
                <input matInput type="number" [disabled]="!switch" value="{{menu[1].price}}" [(ngModel)]="menu[1].price"> </mat-form-field>
              <mat-form-field>
                <textarea matInput [disabled]="!switch" value="Comments"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <button mat-raised-button (click)="editDayMenu(menu[1])">{{btntxt}}</button>
            </div>
          </div>
        </mat-tab>
        <!-- wed -->
        <mat-tab label="Wednesday">
          <div class="row">
            <div class="col-sm-12">
              <mat-form-field class="menu[2].active">
                <mat-select [class]="menu[2].active" [value]="menu[2].active" disabled={{!switch}} [(ngModel)]="menu[2].active">
                  <mat-option value="true"> Yes, daily menu </mat-option>
                  <mat-option value="false"> No, we don't </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="starters-menu col-sm-3">
              <label>Starters</label>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[2].starters[0]}}" [(ngModel)]="menu[2].starters[0]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[2].starters[1]}}" [(ngModel)]="menu[2].starters[1]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[2].starters[2]}}" [(ngModel)]="menu[2].starters[2]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[2].starters[3]}}" [(ngModel)]="menu[2].starters[3]"> </mat-form-field>
            </div>
            <div class="main-course-menu col-sm-3">
              <label>Main Courses</label>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[2].mainCourses[0]}}" [(ngModel)]="menu[2].mainCourses[0]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[2].mainCourses[1]}}" [(ngModel)]="menu[2].mainCourses[1]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[2].mainCourses[2]}}" [(ngModel)]="menu[2].mainCourses[2]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[2].mainCourses[3]}}" [(ngModel)]="menu[2].mainCourses[3]"> </mat-form-field>
            </div>
            <div class="col-sm-3">
              <div class="desserts-menu">
                <label>Desserts</label>
                <mat-form-field>
                  <input matInput [disabled]="!switch" value="{{menu[2].desserts[0]}}" [(ngModel)]="menu[2].desserts[0]"> </mat-form-field>
                <mat-form-field>
                  <input matInput [disabled]="!switch" value="{{menu[2].desserts[1]}}" [(ngModel)]="menu[2].desserts[1]"> </mat-form-field>
              </div>
            </div>
            <div class="col-sm-3">
              <label>Other details</label>
              <mat-form-field class="price">
                <input matInput type="number" [disabled]="!switch" value="{{menu[2].price}}" [(ngModel)]="menu[2].price"> </mat-form-field>
              <mat-form-field>
                <textarea matInput [disabled]="!switch" value="Comments"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <button mat-raised-button (click)="editDayMenu(menu[2])">{{btntxt}}</button>
            </div>
          </div>
        </mat-tab>
        <!-- thus -->
        <mat-tab label="Thursday">
          <div class="row">
            <div class="col-sm-12">
              <mat-form-field class="menu[3].active">
                <mat-select [class]="menu[3].active" [value]="menu[3].active" disabled={{!switch}} [(ngModel)]="menu[3].active">
                  <mat-option value="true"> Yes, daily menu </mat-option>
                  <mat-option value="false"> No, we don't </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="starters-menu col-sm-3">
              <label>Starters</label>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[3].starters[0]}}" [(ngModel)]="menu[3].starters[0]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[3].starters[1]}}" [(ngModel)]="menu[3].starters[1]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[3].starters[2]}}" [(ngModel)]="menu[3].starters[2]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[3].starters[3]}}" [(ngModel)]="menu[3].starters[3]"> </mat-form-field>
            </div>
            <div class="main-course-menu col-sm-3">
              <label>Main Courses</label>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[3].mainCourses[0]}}" [(ngModel)]="menu[3].mainCourses[0]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[3].mainCourses[1]}}" [(ngModel)]="menu[3].mainCourses[1]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[3].mainCourses[2]}}" [(ngModel)]="menu[3].mainCourses[2]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[3].mainCourses[3]}}" [(ngModel)]="menu[3].mainCourses[3]"> </mat-form-field>
            </div>
            <div class="col-sm-3">
              <div class="desserts-menu">
                <label>Desserts</label>
                <mat-form-field>
                  <input matInput [disabled]="!switch" value="{{menu[3].desserts[0]}}" [(ngModel)]="menu[3].desserts[0]"> </mat-form-field>
                <mat-form-field>
                  <input matInput [disabled]="!switch" value="{{menu[3].desserts[1]}}" [(ngModel)]="menu[3].desserts[1]"> </mat-form-field>
              </div>
            </div>
            <div class="col-sm-3">
              <label>Other details</label>
              <mat-form-field class="price">
                <input matInput type="number" [disabled]="!switch" value="{{menu[3].price}}" [(ngModel)]="menu[3].price"> </mat-form-field>
              <mat-form-field>
                <textarea matInput [disabled]="!switch" value="Comments"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <button mat-raised-button (click)="editDayMenu(menu[3])">{{btntxt}}</button>
            </div>
          </div>
        </mat-tab>
        <!-- fri -->
        <mat-tab label="Friday">
          <div class="row">
            <div class="col-sm-12">
              <mat-form-field class="menu[4].active">
                <mat-select [class]="menu[4].active" [value]="menu[4].active" disabled={{!switch}} [(ngModel)]="menu[4].active">
                  <mat-option value="true"> Yes, daily menu </mat-option>
                  <mat-option value="false"> No, we don't </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="starters-menu col-sm-3">
              <label>Starters</label>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[4].starters[0]}}" [(ngModel)]="menu[4].starters[0]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[4].starters[1]}}" [(ngModel)]="menu[4].starters[1]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[4].starters[2]}}" [(ngModel)]="menu[4].starters[2]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[4].starters[3]}}" [(ngModel)]="menu[4].starters[3]"> </mat-form-field>
            </div>
            <div class="main-course-menu col-sm-3">
              <label>Main Courses</label>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[4].mainCourses[0]}}" [(ngModel)]="menu[4].mainCourses[0]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[4].mainCourses[1]}}" [(ngModel)]="menu[4].mainCourses[1]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[4].mainCourses[2]}}" [(ngModel)]="menu[4].mainCourses[2]"> </mat-form-field>
              <mat-form-field>
                <input matInput [disabled]="!switch" value="{{menu[4].mainCourses[3]}}" [(ngModel)]="menu[4].mainCourses[3]"> </mat-form-field>
            </div>
            <div class="col-sm-3">
              <div class="desserts-menu">
                <label>Desserts</label>
                <mat-form-field>
                  <input matInput [disabled]="!switch" value="{{menu[4].desserts[0]}}" [(ngModel)]="menu[4].desserts[0]"> </mat-form-field>
                <mat-form-field>
                  <input matInput [disabled]="!switch" value="{{menu[4].desserts[1]}}" [(ngModel)]="menu[4].desserts[1]"> </mat-form-field>
              </div>
            </div>
            <div class="col-sm-3">
              <label>Other details</label>
              <mat-form-field class="price">
                <input matInput type="number" [disabled]="!switch" value="{{menu[4].price}}" [(ngModel)]="menu[4].price"> </mat-form-field>
              <mat-form-field>
                <textarea matInput [disabled]="!switch" value="Comments"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <button mat-raised-button (click)="editDayMenu(menu[4])">{{btntxt}}</button>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
