<div class="container" id="dashboard">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2> Dashboard </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <mat-tab-group>
        <mat-tab label="Massive Day Creation">
          <mat-form-field>
            <input matInput [matDatepicker]="createPickerIn" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="createPickerIn"></mat-datepicker-toggle>
            <mat-datepicker #createPickerIn></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="createPickerOut" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="createPickerOut"></mat-datepicker-toggle>
            <mat-datepicker #createPickerOut></mat-datepicker>
          </mat-form-field>
          <button (click)="createDays(createPickerIn,createPickerOut)">send</button>
          <div *ngIf="message" class="message"> You have created {{message.length}} days successfully: </div>
        </mat-tab>
        <mat-tab label="Massive days update">
          <mat-form-field>
            <input matInput [matDatepicker]="updatePickerIn" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="updatePickerIn"></mat-datepicker-toggle>
            <mat-datepicker #updatePickerIn></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="updatePickerOut" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="updatePickerOut"></mat-datepicker-toggle>
            <mat-datepicker #updatePickerOut></mat-datepicker>
          </mat-form-field>
          <button (click)="updateDays(updatePickerIn,updatePickerOut)">send</button>
          <div class="status">Restaurant is
            <mat-form-field class="status-select">
              <mat-select [class]="dayConfig.status" [(ngModel)]="dayConfig.status">
                <mat-option value="open"> Open </mat-option>
                <mat-option value="closed"> Closed </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="shifts">
            <span class="shifts-text">Configure the shifts and availability
              <br>
              <small>(zero means no shift this day)</small>:</span>
            <div class="row">
              <div class="col-6 col-sm-3 col-lg-2 text-center" *ngFor="let shift of dayConfig.shift; let i=index;">
                <div class="shift-hour"> {{shift.hour}} </div>
                <div class="shift-availability">
                  <mat-form-field>
                    <input class="text-center" matInput [value]="shift.current" [(ngModel)]="shift.current"> </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
