<div class="container-fluid" *ngIf="pending" id="pending-day-wrapper">
  <div class="close-edit-day" (click)="closePending()">
    <i class="material-icons">close</i>
  </div>
  <div class="overlay"></div>
  <div class="row">
    <div class="col-sm-12">
      <h4 class="day-config-title">Currently viewing pending bookings
        <br>
        <small>We have {{totalpending}} pending bookings</small>
      </h4>
      <div class="row day-booking-header">
        <div class="col-sm-4"> Status </div>
        <div class="col-sm-4"> Hour and people </div>
        <div class="col-sm-4"> Customer contact info </div>
      </div>
      <div class="row booking" *ngFor="let days of pending; let i=index">
        <div class="col-sm-4">
          <div class="details">
            <div>
              <small class="booking-id"> {{books._id}} </small>
            </div>
            <mat-form-field class="status-select">
              <!-- <mat-form-field [value]="booking.status" [class]="booking.status" [(ngModel)]="booking.status" (change)="changeBookingStatus(booking.status,booking._id)"> -->
              <mat-select>
                <mat-option value="pending"> Pending </mat-option>
                <mat-option value="approved"> Approved </mat-option>
                <mat-option value="cancelled"> Cancelled </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="details">
            <div class="hour"> {{booking.hour}}
              <small>hours</small>
            </div>
            <div class="people">
              <small>Booking for</small> {{booking.people}}
              <small>people</small>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="customer-details">
            <div>
              <small>Name:</small> {{booking.user.name}} </div>
            <div>
              <small>Email:</small> {{booking.user.email}} </div>
            <div>
              <small>Phone:</small> {{booking.user.phone}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>