<div class="container-fluid" *ngIf="pending" id="pending-day-wrapper">
  <div class="close-edit-day" (click)="closePending()">
    <i class="material-icons">close</i>
  </div>
  <div class="overlay"></div>
  <div class="row">
    <div class="col-sm-12">
      <h4 class="day-config-title">Currently viewing pending bookings
        <br>
        <small>We have {{totalpending}} pending bookings</small>
      </h4>
      <div class="row day-booking-header">
        <div class="col-sm-3"> Status </div>
        <div class="col-sm-3"> Hour and people </div>
        <div class="col-sm-3"> Customer contact info </div>
        <div class="col-sm-3"> Booking Comments</div>
      </div>
      <div *ngFor="let user of pendingsB" class="row booking">
        <div class="col-sm-3">
          <div class="details">
            <div>
              <small class="booking-id"> {{user._id}} </small>
            </div>
            <mat-form-field class="status-select">
              <mat-select [value]="user.status" [class]="user.status" [(ngModel)]="user.status" (change)="changeBookingStatus(user.status,user._id)">
                <mat-option value="pending"> Pending </mat-option>
                <mat-option value="approved"> Approved </mat-option>
                <mat-option value="cancelled"> Cancelled </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="details">
            <div class="hour"> {{user.date | date:"d MMM y"}}
              <small>date</small>
            </div>
            <div class="hour"> {{user.hour}}
              <small>hours</small>
            </div>
            <div class="people">
              <small>Booking for</small> {{user.people}}
              <small>people</small>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="customer-details">
            <div>
              <small>Name:</small> {{user.user.name}}
            </div>
            <div>
              <small>Email:</small> {{user.user.email}}
            </div>
            <div>
              <small>Phone:</small> {{user.user.phone}}
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="customer-details">
            <div>
              {{user.comments}}
            </div>
          </div>
          <!-- <div *ngFor="let books of pending">
        <div *ngFor="let user of books.books">
          <div *ngIf="user.status == 'pending'" class="row booking">
            <div class="col-sm-4">
              <div class="details">
                <div>
                  <small class="booking-id"> {{books._id}} </small>
                </div>
                <mat-form-field class="status-select">
                  <mat-select [value]="user.status" [class]="user.status" [(ngModel)]="user.status" (change)="changeBookingStatus(user.status,user._id)">
                    <mat-option value="pending"> Pending </mat-option>
                    <mat-option value="approved"> Approved </mat-option>
                    <mat-option value="cancelled"> Cancelled </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="details">
                <div class="hour"> {{user.hour}}
                  <small>hours</small>
                </div>
                <div class="people">
                  <small>Booking for</small> {{user.people}}
                  <small>people</small>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="customer-details">
                <div>
                  <small>Name:</small> {{user.user.name}} </div>
                <div>
                  <small>Email:</small> {{user.user.email}} </div>
                <div>
                  <small>Phone:</small> {{user.user.phone}} </div>
              </div>
            </div>
          </div>
        </div>
      </div> --></div>
      </div>
    </div>