<form class="home-booking-form" (ngSubmit)="sendBooking(bookingForm)" #bookingForm="ngForm">
  <mat-form-field class="full-width">
    <input matInput placeholder="Your name" [value]="name" [(ngModel)]="name" name="name" required> </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Your email" [(ngModel)]="email" name="email" required> </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Your phone" [(ngModel)]="phone" name="phone" required> </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date_of_book" name="date_of_book" (dateInput)="checkDayAvailability(date_of_book)"
      required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker disabled="false" #picker></mat-datepicker>
  </mat-form-field>
  <div class="form-details-info availability-message-wrapper">
    <small *ngIf="day===null || day===undefined" class="form-availability-message not-found">Day not available yet :/</small>
  </div>
  <div class="form-details-info availability-message-wrapper">
    <small *ngIf="day!==null&&day!=={}&&day.status==='open'" class="form-availability-message open">We are {{day.status}}!</small>
  </div>
  <div class="form-details-info availability-message-wrapper">
    <small *ngIf="day!==null&&day!=={}&&day.status==='closed'" class="form-availability-message closed">We are {{day.status}} :( Try again!</small>
  </div>
  <mat-form-field *ngIf="day!==null&&day!=={}&&day.status!=='closed'">
    <mat-select placeholder="Select hour" [(ngModel)]="hour" name="hour" [disabled]="disableSelect" required>
      <mat-option *ngFor="let hour of hours; let i=index" [value]="hour"> {{ hour }} <span class="hour-availability">{{available[i]}}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="label" *ngIf="day===undefined&&day.status!=='closed'">
    <label for="people">Nº of people</label>
  </div>
  <mat-slider *ngIf="day.status!=='closed'" class="full-width" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min"
    [step]="step" [thumb-label]="thumbLabel" [tick-interval]="tickInterval" [vertical]="vertical" [(ngModel)]="people" name="people">
  </mat-slider>
  <mat-form-field class="full-width" *ngIf="day.status!=='closed'">
    <textarea matInput placeholder="Comment" [(ngModel)]="comment" name="comment"></textarea>
  </mat-form-field>
  <button *ngIf="day.status!=='closed'" type="submit" mat-raised-button color="warn">Book it!</button>
</form>
<div class="login-wrapper modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header home-booking">
        <h5 class="modal-title h5-modal-booking">Booking made!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your booking have been made, you have to received an email, but is pending to have been approved.</p>
      </div>
      <div class="modal-footer">
        <small>Avello's Trattoria | ♥</small>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>