<form class="basic-form" (ngSubmit)="sendBooking(bookingForm)" #bookingForm="ngForm">
  <mat-form-field class="full-width">
    <input matInput placeholder="Your name" [(ngModel)]="name" name="name" required> </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Your email" [(ngModel)]="email" name="email" required> </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Your phone" [(ngModel)]="phone" name="phone" required> </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date_of_book" name="date_of_book" (dateInput)="checkDayAvailability(date_of_book)"
      required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker disabled="false" #picker></mat-datepicker>
  </mat-form-field>
  <div class="form-details-info">
    <small *ngIf="day===null || day===undefined">Day not found</small>
  </div>
  <div class="form-details-info">
    <small *ngIf="day!==null&&day!=={}&&day.status==='open'">We are {{day.status}}!</small>
  </div>
  <div class="form-details-info">
    <small *ngIf="day!==null&&day!=={}&&day.status==='closed'">We are {{day.status}} :(</small>
  </div>
  <mat-form-field *ngIf="day!==null&&day!=={}&&day.status!=='closed'">
    <mat-select placeholder="Select hour" [(ngModel)]="hour" name="hour" [disabled]="disableSelect" required>
      <mat-option *ngFor="let hour of hours; let i=index" [value]="hour"> {{ hour }} |
        <span>{{available[i]}}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="label">
    <label for="people">Nº of people</label>
  </div>
  <mat-slider class="full-width" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumb-label]="thumbLabel"
    [tick-interval]="tickInterval" [vertical]="vertical" [(ngModel)]="people" name="people"> </mat-slider>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Comment" [(ngModel)]="comment" name="comment"></textarea>
  </mat-form-field>
  <button type="submit" mat-raised-button color="warn">Book it!</button>
</form>