<div class="container-fluid" *ngIf="bookings" id="bookings-day-wrapper">
  <div class="close-edit-day" (click)="closeBookings()">
    <i class="material-icons">close</i>
  </div>
  <div class="overlay"></div>
  <div class="row">
    <div class="col-sm-12">
      <h4 class="day-config-title">Currently viewing bookings {{bookings.date | date : 'MMMM d, y'}}
        <br>
        <small>We have {{bookings.books.length}} bookings</small>
      </h4>
      <div class="row">
        <div class="col-sm-4"> Status </div>
        <div class="col-sm-4"> Hour and people </div>
        <div class="col-sm-4"> Customer contact info </div>
      </div>
      <div class="row {{booking.status}} booking" *ngFor="let booking of bookings.books; let i=index">
        <div class="col-sm-4">
          <div class="details">
            <small class="booking-id">#{{booking._id}}</small>
            <mat-form-field class="status-select">
              <mat-select [value]="booking.status" [class]="booking.status" [(ngModel)]="booking.status" (change)="changeBookingStatus(booking.status,booking._id)">
                <mat-option value="pending"> Pending </mat-option>
                <mat-option value="approved"> Approved </mat-option>
                <mat-option value="cancelled"> Cancelled </mat-option>
                <mat-option value="notshow"> Not show </mat-option>
                <mat-option value="show"> Show </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="details">
            <div class="hour">{{booking.hour}} hours</div>
            <div class="people">Booking for {{booking.people}} people</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="customer-details">
            <div> Name: {{booking.user.name}} </div>
            <div>Email: {{booking.user.email}}</div>
            <div>Phone: {{booking.user.phone}}</div>
          </div>
        </div>
        <!-- <div class="col-sm-3">
          <div class="details"> {{booking.hour}} {{booking.people}} </div>
        </div>
        <div class="col-sm-3">
          <div class="booking-comments"> {{booking.comments}} </div>
        </div> --></div>
    </div>
  </div>
  <!-- {{bookings | json}} -->
</div>
<!-- 
<div class="container" *ngIf="bookings" id="bookings-day-wrapper">
  <div class="overlay"></div>
  <div class="row">
    <div class="col-sm-12">
      <div class="close-edit-day" (click)="closeBookings()">
        <i class="material-icons">close</i>
      </div>
      <h4 class="day-config-title">Currently viewing bookings {{bookings.date | date : 'MMMM d, y'}}<br><small>#{{day._id}}</small></h4>
      <div class="row" *ngFor="let booking of bookings; let i=index">
        <div class="col-sm-3">
          <div class="status"> {{booking.status}} #{{booking._id}} </div>
        </div>
        <div class="col-sm-3">
          <div class="customer-details"> {{booking.user.email}} {{booking.user.phone}} </div>
        </div>
        <div class="col-sm-3">
          <div class="booking-details"> {{booking.hour}} {{booking.people}} </div>
        </div>
        <div class="col-sm-3">
          <div class="booking-comments"> {{booking.comments}} </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
