<div class="container-fluid" id="hero">
  <div class="row align-items-center">
    <div class="col-sm-12">
      <h1>
        <small>Avello's</small> We are pizza </h1>
   </div>
  </div>
</div>
<div class="container-fluid" id="home-booking">
  <div class="row">
    <div class="col-lg-6 pad-special-l-r">
      <h2>Book your table</h2>
      <bookingform></bookingform>
    </div>
    <div class="col-lg-6 img-as-column-pizza"> </div>
  </div>
  <div class="row" id="home-map">
    <div class="col-lg-6 img-as-column-ingredients"></div>
    <div class="col-lg-6" id="map">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>
<div class="container-fluid" id="comments-carousel" *ngIf="comments&&comments.length>0">
  <div class="row">
    <div class="col-md-6 offset-sm-3">
      <h3 class="text-center">From our beloved customers</h3>
      <div class="owl-carousel owl-theme owl-height">
        <div class="item" *ngFor="let comment of comments">
          <div class="row">
            <div class="col-md-3">
              <div class="customer-details"> <span class="name">{{comment.user_Id.name}}</span> </div>
              <div class="customer-details"> <small>{{comment.created_at | date:'MMMM d, y'}} </small></div>
              <div class="customer-details stars">
                <i class="material-icons">star_rate</i> <span>{{comment.stars}}<small>/10</small></span> </div>
            </div>
            <div class="col-md-9">
              <p class="comment"> {{comment.content}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<menu-home></menu-home>