<div class="container" id="profile" *ngIf="userBookings&&currentUser">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2> Hi {{currentUser.name}}! This is your profile. </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h6>This is your profile info.
        <br>
        <small>Click on Edit button to make some changes</small>
      </h6>
      <div class="update-profile">
        <mat-form-field class="full-width">
          <input matInput placeholder="Name" [(ngModel)]="currentUser.name" disabled={{!switch}}> </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Email (email can`t be changed)" [(ngModel)]="currentUser.email" disabled=true> </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Phone" [(ngModel)]="currentUser.phone" disabled={{!switch}}> </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Enter your new password" [(ngModel)]="password" disabled={{!switch}}> </mat-form-field>
        <button color="primary" (click)="edit()" mat-button id="edit">{{btntext}}</button>
      </div>
    </div>
    <div class="col-md-8">
      <h6>You have {{userBookings.length}} bookings.
        <br>
        <small>You can cancel a booking clicking the button</small>
      </h6>
      <div class="row day-booking-header">
        <div class="col-md-4"> Status </div>
        <div class="col-md-4"> Day, hour and people </div>
        <div class="col-md-4"> Customer contact info </div>
      </div>
      <div class="row" *ngFor="let booking of userBookings">
        <div class="col-md-4">
          <mat-form-field class="status-select">
            <mat-select [value]="booking.status" [class]="booking.status" [(ngModel)]="booking.status" (change)="changeBookingStatus(booking.status,booking._id)">
              <mat-option value="pending"> Pending </mat-option>
              <mat-option value="approved"> Approved </mat-option>
              <mat-option value="cancelled"> Cancelled </mat-option>
              <mat-option value="notshow"> Not show </mat-option>
              <mat-option value="show"> Show </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          {{booking.date | date:'medium'}}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="container-fluid" *ngIf="bookings" id="bookings-day-wrapper">

    <div class="row">
      <div class="col-sm-12">
       
        
        <div class="row {{booking.status}} booking" *ngFor="let booking of bookings.books; let i=index">
          <div class="col-sm-4">
            <div class="details">
              <div>
                <small class="booking-id">#{{booking._id}}</small>
              </div>
              <mat-form-field class="status-select">
                <mat-select [value]="booking.status" [class]="booking.status" [(ngModel)]="booking.status" (change)="changeBookingStatus(booking.status,booking._id)">
                  <mat-option value="pending"> Pending </mat-option>
                  <mat-option value="approved"> Approved </mat-option>
                  <mat-option value="cancelled"> Cancelled </mat-option>
                  <mat-option value="notshow"> Not show </mat-option>
                  <mat-option value="show"> Show </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="details">
              <div class="hour">{{booking.hour}} <small>hours</small></div>
              <div class="people"><small>Booking for</small> {{booking.people}} <small>people</small></div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="customer-details">
              <div><small>Name:</small> {{booking.user.name}} </div>
              <div><small>Email:</small> {{booking.user.email}}</div>
              <div><small>Phone:</small> {{booking.user.phone}}</div>
            </div>
          </div>
</div>
      </div>
    </div>

  </div>
 -->
