<div class="container menu-front" id="home-menu">
  <div *ngIf="menu && menu.length>0">
    <div *ngIf="menu[0].active == 'true' || menu[1].active == 'true' || menu[2].active == 'true' || menu[3].active == 'true' || menu[4].active == 'true'">
      <div class="row m-top-20" *ngIf="menu.length > 0">
        <div class="col-sm-12">
          <h2 class="m-top-40"> Daily Menu </h2>
          <mat-tab-group>
            <mat-tab label="Monday">
              <div *ngIf="menu[0].active == 'true'; else closedMonday">
                <div class="row">
                  <div class="starters-menu col-md-3 pad-top-20">
                    <div>
                      <strong>Starters</strong>
                    </div>
                    <ul>
                      <li>
                        {{menu[0].starters[0]}}
                      </li>
                      <li>
                        {{menu[0].starters[1]}}
                      </li>
                      <li>
                        {{menu[0].starters[2]}}
                      </li>
                      <li>
                        {{menu[0].starters[3]}}
                      </li>
                    </ul>
                  </div>
                  <div class="main-course-menu col-md-3 pad-top-20">
                    <div>
                      <strong>Main Courses</strong>
                    </div>
                    <ul>
                      <li>
                        {{menu[0].mainCourses[0]}}
                      </li>
                      <li>
                        {{menu[0].mainCourses[1]}}
                      </li>
                      <li>
                        {{menu[0].mainCourses[2]}}
                      </li>
                      <li>
                        {{menu[0].mainCourses[3]}}
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-3 pad-top-20">
                    <div class="desserts-menu">
                      <div>
                        <strong>Desserts</strong>
                      </div>
                      <ul>
                        <li>
                          {{menu[0].desserts[0]}}
                        </li>
                        <li>
                          {{menu[0].desserts[1]}}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-3 pad-top-20">
                    <div>
                      <strong>Other details</strong>
                    </div>
                    <div *ngIf="menu[0].comments !== ''">
                      <div>
                        <strong>Comments</strong>
                      </div>
                      <p>
                        <strong>{{menu[0].comments}}</strong>
                      </p>
                    </div>
                    <div class="menu-details">
                      <span class="menu-price">{{menu[0].price}}€ </span>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #closedMonday>
                <div class="row text-center">
                  <p>
                    <strong>{{menu[0].comments}}</strong>
                  </p>
                </div>
              </ng-template>
            </mat-tab>
            <mat-tab label="Tuesday">
              <div *ngIf="menu[1].active == 'true'; else closedTuesday">
                <div class="row">
                  <div class="starters-menu col-md-3 pad-top-20">
                    <div>
                      <strong>Starters</strong>
                    </div>
                    <ul>
                      <li>
                        {{menu[1].starters[0]}}
                      </li>
                      <li>
                        {{menu[1].starters[1]}}
                      </li>
                      <li>
                        {{menu[1].starters[2]}}
                      </li>
                      <li>
                        {{menu[1].starters[3]}}
                      </li>
                    </ul>
                  </div>
                  <div class="main-course-menu col-md-3 pad-top-20">
                    <div>
                      <strong>Main Courses</strong>
                    </div>
                    <ul>
                      <li>
                        {{menu[1].mainCourses[0]}}
                      </li>
                      <li>
                        {{menu[1].mainCourses[1]}}
                      </li>
                      <li>
                        {{menu[1].mainCourses[2]}}
                      </li>
                      <li>
                        {{menu[1].mainCourses[3]}}
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-3 pad-top-20">
                    <div class="desserts-menu">
                      <div>
                        <strong>Desserts</strong>
                      </div>
                      <ul>
                        <li>
                          {{menu[1].desserts[0]}}
                        </li>
                        <li>
                          {{menu[1].desserts[1]}}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-3 pad-top-20">
                    <div>
                      <strong>Other details</strong>
                    </div>
                    <div *ngIf="menu[1].comments !== ''">
                      <div>
                        <strong>Comments</strong>
                      </div>
                      <p>
                        <strong>{{menu[1].comments}}</strong>
                      </p>
                    </div>
                    <div class="menu-details">
                      <span class="menu-price">{{menu[1].price}}€ </span>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #closedTuesday>
                <div class="row text-center">
                  <p>
                    <strong>{{menu[1].comments}}</strong>
                  </p>
                </div>
              </ng-template>
            </mat-tab>
            <mat-tab label="Wednesday">
              <div *ngIf="menu[2].active == 'true'; else closedWednesday">
                <div class="row">
                  <div class="starters-menu col-md-3 pad-top-20">
                    <div>
                      <strong>Starters</strong>
                    </div>
                    <ul>
                      <li>
                        {{menu[2].starters[0]}}
                      </li>
                      <li>
                        {{menu[2].starters[1]}}
                      </li>
                      <li>
                        {{menu[2].starters[2]}}
                      </li>
                      <li>
                        {{menu[2].starters[3]}}
                      </li>
                    </ul>
                  </div>
                  <div class="main-course-menu col-md-3 pad-top-20">
                    <div>
                      <strong>Main Courses</strong>
                    </div>
                    <ul>
                      <li>
                        {{menu[2].mainCourses[0]}}
                      </li>
                      <li>
                        {{menu[2].mainCourses[1]}}
                      </li>
                      <li>
                        {{menu[2].mainCourses[2]}}
                      </li>
                      <li>
                        {{menu[2].mainCourses[3]}}
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-3 pad-top-20">
                    <div class="desserts-menu">
                      <div>
                        <strong>Desserts</strong>
                      </div>
                      <ul>
                        <li>
                          {{menu[2].desserts[0]}}
                        </li>
                        <li>
                          {{menu[2].desserts[1]}}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-3 pad-top-20">
                    <div>
                      <strong>Other details</strong>
                    </div>
                    <div *ngIf="menu[2].comments !== ''">
                      <div>
                        <strong>Comments</strong>
                      </div>
                      <p>
                        <strong>{{menu[2].comments}}</strong>
                      </p>
                    </div>
                    <div class="menu-details">
                      <span class="menu-price">{{menu[2].price}}€ </span>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #closedWednesday>
                <div class="row text-center">
                  <p>
                    <strong>{{menu[2].comments}}</strong>
                  </p>
                </div>
              </ng-template>
            </mat-tab>
            <mat-tab label="Thursday">
              <div *ngIf="menu[3].active == 'true'; else closedThursday">
                <div class="row">
                  <div class="starters-menu col-md-3 pad-top-20">
                    <div>
                      <strong>Starters</strong>
                    </div>
                    <ul>
                      <li>
                        {{menu[3].starters[0]}}
                      </li>
                      <li>
                        {{menu[3].starters[1]}}
                      </li>
                      <li>
                        {{menu[3].starters[2]}}
                      </li>
                      <li>
                        {{menu[3].starters[3]}}
                      </li>
                    </ul>
                  </div>
                  <div class="main-course-menu col-md-3 pad-top-20">
                    <div>
                      <strong>Main Courses</strong>
                    </div>
                    <ul>
                      <li>
                        {{menu[3].mainCourses[0]}}
                      </li>
                      <li>
                        {{menu[3].mainCourses[1]}}
                      </li>
                      <li>
                        {{menu[3].mainCourses[2]}}
                      </li>
                      <li>
                        {{menu[3].mainCourses[3]}}
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-3 pad-top-20">
                    <div class="desserts-menu">
                      <div>
                        <strong>Desserts</strong>
                      </div>
                      <ul>
                        <li>
                          {{menu[3].desserts[0]}}
                        </li>
                        <li>
                          {{menu[3].desserts[1]}}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-3 pad-top-20">
                    <div>
                      <strong>Other details</strong>
                    </div>
                    <div *ngIf="menu[3].comments !== ''">
                      <div>
                        <strong>Comments</strong>
                      </div>
                      <p>
                        <strong>{{menu[3].comments}}</strong>
                      </p>
                    </div>
                    <div class="menu-details">
                      <span class="menu-price">{{menu[3].price}}€ </span>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #closedThursday>
                <div class="row text-center">
                  <p>
                    <strong>{{menu[3].comments}}</strong>
                  </p>
                </div>
              </ng-template>
            </mat-tab>
            <mat-tab label="Friday">
              <div *ngIf="menu[4].active == 'true'; else closedFriday">
                <div class="row">
                  <div class="starters-menu col-md-3 pad-top-20">
                    <div>
                      <strong>Starters</strong>
                    </div>
                    <ul>
                      <li>
                        {{menu[4].starters[0]}}
                      </li>
                      <li>
                        {{menu[4].starters[1]}}
                      </li>
                      <li>
                        {{menu[4].starters[2]}}
                      </li>
                      <li>
                        {{menu[4].starters[3]}}
                      </li>
                    </ul>
                  </div>
                  <div class="main-course-menu col-md-3 pad-top-20">
                    <div>
                      <strong>Main Courses</strong>
                    </div>
                    <ul>
                      <li>
                        {{menu[4].mainCourses[0]}}
                      </li>
                      <li>
                        {{menu[4].mainCourses[1]}}
                      </li>
                      <li>
                        {{menu[4].mainCourses[2]}}
                      </li>
                      <li>
                        {{menu[4].mainCourses[3]}}
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-3 pad-top-20">
                    <div class="desserts-menu">
                      <div>
                        <strong>Desserts</strong>
                      </div>
                      <ul>
                        <li>
                          {{menu[4].desserts[0]}}
                        </li>
                        <li>
                          {{menu[4].desserts[1]}}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-3 pad-top-20">
                    <div>
                      <strong>Other details</strong>
                    </div>
                    <div *ngIf="menu[4].comments !== ''">
                      <div>
                        <strong>Comments</strong>
                      </div>
                      <p>
                        <strong>{{menu[4].comments}}</strong>
                      </p>
                    </div>
                    <div class="menu-details">
                      <span class="menu-price">{{menu[4].price}}€ </span>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #closedFriday>
                <div class="row text-center">
                  <p>
                    <strong>{{menu[4].comments}}</strong>
                  </p>
                </div>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>