<!-- <h6>View range of days</h6>
<mat-form-field>
  <input matInput [matDatepicker]="pickerIn" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="pickerIn"></mat-datepicker-toggle>
  <mat-datepicker #pickerIn></mat-datepicker>
</mat-form-field>
<mat-form-field>
  <input matInput [matDatepicker]="pickerOut" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="pickerOut"></mat-datepicker-toggle>
  <mat-datepicker #pickerOut></mat-datepicker>
</mat-form-field>
<button (click)="getRange(pickerIn,pickerOut)">send</button> -->

<editDay (outputcall)="reloadCalendar()" [day]="theDay"></editDay>
<div class="container-fluid" id="calendar-header">
  <div class="row">
    <div class="col-sm-12">
      <div class="prev-next-calendar text-right">
        <span (click)="changeMonth(-1)" mat-raised-button color="accent"><i class="material-icons">navigate_before</i></span>
        <span (click)="changeMonth(1)" mat-raised-button color="accent"><i class="material-icons">navigate_next</i></span>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
            <h5 class="calendar-main-info">{{currentMonthText}} {{currentYear}}</h5>
      </div>
  </div>
  <div class="row weekdays-row">
        <div class="col weekDays" *ngFor="let day of weekDays; let i=index">
            <p>{{day}}</p>
        </div>
    </div>
</div>
<div class="container-fluid" id="bookings-calendar">
  <div class="row">
    <div class="col day {{day.date | date:'EEEE' | lowercase}} {{day.status}}" *ngFor="let day of days; let i=index" >
      <div *ngIf="today == (day.date | date:'MM/dd/yyyy'); else notToday" class="today day-inner">
        <small class="day-num">{{day.date | date:'dd'}} <span class="today-text">today</span> </small>
        <span matTooltip="Day settings" matTooltipPosition="right" (click)="getDay(day.date)" class="day-settings"><i class="material-icons">settings</i></span>
      </div>
      <ng-template #notToday>
        <div class="not-today day-inner">
          <small class="day-num">{{day.date | date:'dd'}}</small>
          <span matTooltip="Day settings" matTooltipPosition="right" (click)="getDay(day.date)" class="day-settings"><i class="material-icons">settings</i></span>
          <div class="day-bookings">
            <span *ngFor="let booking of day.books">
              <span countCancelled(booking)>son: </span>
              <!--<span class="cancelled">{{booking.status==='cancelled'}}</span>
              <span class="cancelled" *ngIf="booking.status==='cancelled'">{{cancelled+=1}}</span>
              <span class="pending" *ngIf="booking.status==='pending'">{{pending++}}</span>
              <span class="approved" *ngIf="booking.status==='approved'">{{approved++}}</span>-->
            </span>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<!-- {{days | json}} -->
