<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div><a [routerLink]="['/']">{{title}}</a></div>
      <div *ngIf="session.getUser()">Hi {{session.getUser().name}}!</div>
      <div *ngIf="session.getUser()">id: {{session.getUser()._id}}</div>
    </div>
    <div class="col-sm-2"> </div>
    <div class="col-sm-3">
      <login></login>
    </div>
    <div class="col-sm-3">
      <span *ngIf="session.getUser()&&session.getAdmin()" class="header-controls" [routerLink]="['/dashboard']"><i class="material-icons">dashboard</i></span>
      <span *ngIf="session.getUser()&&session.getAdmin()" class="header-controls" [routerLink]="['/bookings']"><i class="material-icons">collections_bookmark</i></span>
      <span *ngIf="session.getUser()&&session.getAdmin()" class="header-controls" [routerLink]="['/users']"><i class="material-icons">people</i></span>
      <span *ngIf="session.getUser()" class="header-controls" [routerLink]="['/profile']"><i class="material-icons">person</i></span>
      <signup></signup>
      <logout></logout>
    </div>
  </div>
</div>
