#profile {
  padding-top: $topPaddedSection;
  h2 {
    margin-bottom: 50px;
  }
  h6 {
    margin-bottom: 30px;
  }
  .day-booking-header {
    font-weight: 100;
    font-size: .6em;
  }
  .mat-select-value-text {
    font-size: .65em;
    padding-left: 7px;
  }
  .mat-form-field-infix {
    width: initial;
    max-width: 100%;
  }
  mat-select {
    padding: 8px 0;
    border-radius: 0!important;
    &.approved {
      background: $green;
    }
    &.pending {
      background: $yellow;
    }
    &.cancelled {
      background: $grey;
    }
    &.notshow {
      background: $red;
    }
    &.show {
      background: $orange;
    }
  }
  .booking-date,.user-info {
    font-size: .7em;
    letter-spacing: 1px;
    font-weight: 600;
    padding-top: 15px;
  }
  .user-info {
    padding-top: 8px;
  }
  .booking-row {
    margin: 0;
    border: 1px solid $lightgrey;
    border-top: none;
    border-bottom: none;
    &:nth-child(even){
      background: $lightgrey;
    }
  }
}
