#dashboard {
  padding-top: 40px;
  .mat-tab-label-content {
    font-size: 1.3em;
    font-weight: 100;
  }
  .mat-tab-label-active {
    background: $yellow;
  }
  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background: $blue;
  }
  .mat-tab-body-content {
    background: $vanilla;
    border: 1px solid #009fb72b;
    border-top: 0;
    .mat-input-container {
      width: 49%;
    }
  }
  .status-select {
    width: initial !important;
  }
  .instructions {
    margin-bottom: 75px;
    font-size: .7em;
    .instruction-number {
      display: block;
      font-size: 2em;
      font-weight: 700;
    }
  }
  .mat-tab-body-wrapper {
    padding-bottom: 50px;
  }
  .mat-tab-header,
  .mat-tab-nav-bar {
    border-color: $blue;
  }
  mat-select {
    border: none;
    text-align: center;
    border-radius: 4px;
    color: $white;
    padding: 4px 0 7px;
    &.open,&.true {
      background: $green;
    }
    &.closed,&.false {
      background: $red;
    }
  }
  .shift-hour {
    font-size: .8em;
    font-weight: 600;
  }
  .comment-row {
    padding: 30px;
    &:nth-child(even) {
      background: white;
    }
  }
}
