#users {
  padding-top: 40px;
  .users-header {
    background: $blue;
    color: $white;
    padding-top: 7px;
  }
  .user-row {
    min-height: 80px;
    &:nth-child(even) {
      background: $vanilla;
    }
    border: 1px solid #e3e3e1;
    border-top:none;
    border-bottom:none;
    .user-actions-column {
      margin-top: -7px;
      button {
        vertical-align: baseline;
        i {
          &:hover {
            color: $red;
          }
        }
      }
    }
  }
  .activeEnvelope {
    &:focus {
      outline: none;
    }
    i {
      color: $red;
    }
  }
  .allContacts {
    display: block;
    float: right;
    margin-right: 12px;
    &:hover {
      color: $red !important;
    }
  }
  .add-all-row {
    border: 1px solid #e3e3e1;
    border-top: none;
  }
}
