#hero {
    position: relative;
    &:after {
        content: '';
        height: 100%;
        width: 100%;
        background: $main;
        opacity: .5;
        position: absolute;
        top: 0;
        left:0;
        z-index: 9;
        pointer-events: none;
    }
    min-height: 100vh;
    background: url(#{$img_path}/hero.jpg);
    background-size: cover;
}