#dashboard {
  padding-top: 40px;
  .mat-tab-label-content {
    font-size: 1.3em;
    font-weight: 100;
  }
  .mat-tab-label-active {
    background: $yellow;
  }
  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background: $blue;
  }
  .mat-tab-body-content {
      background: $vanilla;
      padding: 30px;
      .mat-input-container{
          width: 49%;
      }
  }
  .status-select {
      width: initial!important;
  }
  .instructions {
    margin-bottom: 75px;
    font-size: .7em;
    .instruction-number {
      display: block;
      font-size: 2em;
      font-weight: 700;
    }
  }
  .mat-tab-body-wrapper {
    padding-bottom: 50px;
  }
  .mat-tab-header, .mat-tab-nav-bar {
    border-color: $blue;
  }
}
