.col {
  padding: 0;
  position: relative;
  .day-num {
    font-size: 1.6em;
    font-weight: 300;
    padding-left: 5px;
    position: relative;
    span.today-text {
      font-size: .4em;
      position: absolute;
      bottom: -10px;
      left: 6px;
    }
  }
  &.open,
  &.closed {
    &:after {
      pointer-events: none;
      content: '';
      width: 15px;
      height: 15px;
      background: $green;
      border-radius: 50%;
      position: absolute;
      top: 12px;
      right: 8px;
    }
  }
  &.closed {
    .day-inner {
      opacity: .4;
      background: $darkwhite;
    }
    &:after {
      background: $red
    }
  }
  &.day,
  &.weekDays {
    width: calc(100% / 7);
    min-width: calc(100% / 7);
    max-width: calc(100% / 7);
  }
  &.day {
    cursor: pointer;
    border: 1px solid $lightgrey;
    border-top: none;
    border-left: none;
    height: 150px;
    .day-inner {
      .day-bookings {
        text-align: center;
        font-size: 1.5em;
        font-weight: 300;
        small {
          font-size: .4em;
        }
        span {
          background: $blue;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          display: inline-block;
          padding-top: 8px;
          color: $white;
          &.with-reservations {
            background: $green;
          }
        }
      }
      &:hover {
        background: $darkwhite;
      }
      height: 100%;
      &.day-selected {
        background: $blue;
        color: $white;
        i {
          color: $white;
        }
      }
      &.today {
        background: $darkwhite;
      }
      .day-settings {
        display: block;
        position: absolute;
        bottom: 0;
        left: 5px;
        color: $main;
        cursor: pointer;
        &:hover {
          color: $red;
        }
        &.day-settings-disabled {
          opacity: .5!important;
          cursor: initial;
          &:hover {
            color: initial!important;
          }
        }
      }
    }
  }
}

#calendar-header {
  border-bottom: 1px solid $lightgrey;
  .weekdays-row {
    .weekDays {
      font-size: .75em;
      font-weight: 100;
      p {
        margin-bottom: 3px;
      }
    }
  }
  .calendar-main-info {
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
  }
  .prev-next-calendar {
    position: absolute;
    right: 0;
    z-index: 99;
    i {
      font-size: 2em;
      cursor: pointer;
      &:hover {
        color: $red;
      }
    }
  }
}

#edit-day-wrapper {
  .overlay {
    width: 200vw;
    height: 200vh;
    background: #fff;
    opacity: .8;
    position: fixed;
    top: -100vh;
    left: -100vh;
  }
  -webkit-box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.75);
  text-align: center;
  z-index: 9;
  background: white;
  border: 1px solid $blue;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 30px;
  top: 50%;
  left: 50%;
  .close-edit-day {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    &:hover {
      color: $red;
    }
  }
  .day-config-title {
    small {
      font-size: .5em;
    }
  }
  .shifts-text {
    margin-bottom: 15px;
    display: inline-block;
    small {
      font-weight: 100;
    }
  }
  .shift-hour {
    font-size: .8em;
    font-weight: 600;
  }
  .mat-form-field-infix {
    width: initial;
    input {
      border: none;
      text-align: center;
      border-radius: 4px;
      padding: 4px 0 7px;
      &.open {
        background: $green;
      }
      &.closed {
        background: $red;
      }
    }
  }
  .status-select {
    width: 120px;
    mat-select {
      border: none;
      text-align: center;
      border-radius: 4px;
      color: $white;
      padding: 4px 0 7px;
      &.open {
        background: $green;
      }
      &.closed {
        background: $red;
      }
    }
  }
}

@media screen and (max-width:767px) {
  #edit-day-wrapper {
    -webkit-box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.15);
    transform: translate(-50%, -50%);
    .overlay {
      height: 500vh;
      top: -100vh;
    }
  }
}
