#edit-day-wrapper,
#bookings-day-wrapper,
#pending-day-wrapper {
  .overlay {
    width: 400vw;
    height: 400vh;
    background: #fff;
    opacity: .8;
    position: fixed;
    top: -100vh;
    left: -100vh;
  }
  -webkit-box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.75);
  text-align: center;
  z-index: 9;
  background: white;
  border: 1px solid $blue;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 30px;
  top: 50%;
  left: 50%;
  padding: 100px 0;
  min-height: 60vh;
  .close-edit-day {
    position: absolute;
    z-index: 99;
    right: 20px;
    top: 20px;
    cursor: pointer;
    &:hover {
      color: $red;
    }
  }
  .day-config-title {
    small {
      font-size: .5em;
    }
  }
  .shifts-text {
    margin-bottom: 15px;
    display: inline-block;
    small {
      font-weight: 100;
    }
  }
  .shift-hour {
    font-size: .8em;
    font-weight: 600;
  }
  .mat-form-field-infix {
    width: initial;
    input {
      border: none;
      text-align: center;
      border-radius: 4px;
      padding: 4px 0 7px;
      &.open {
        background: $green;
      }
      &.closed {
        background: $red;
      }
    }
  }
  .status-select {
    width: 120px;
    mat-select {
      border: none;
      text-align: center;
      border-radius: 4px;
      color: $white;
      padding: 4px 0 7px;
      &.open {
        background: $green;
      }
      &.closed {
        background: $red;
      }
    }
  }
}

/* for the booking list */

.day-booking-header {
  margin: 20px 0 0;
  background: $blue;
  padding: 5px;
}

.booking {
  &:nth-child(even) {
    background: $lightgrey
  }
  margin: 0;
  padding: 25px 0 10px;
  mat-select {
    border-radius: 0!important;
    &.approved {
      background: $green;
    }
    &.pending {
      background: $yellow;
    }
    &.cancelled {
      background: $grey;
    }
    &.notshow {
      background: $red;
    }
    &.show {
      background: $orange;
    }
  }
}

@media screen and (max-width:767px) {
  #edit-day-wrapper,
  #bookings-day-wrapper {
    -webkit-box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 40px 8px rgba(0, 0, 0, 0.15);
    transform: translate(-50%, -50%);
    .overlay {
      height: 500vh;
      top: -100vh;
    }
  }
}
