header {
  .active-menu-item {
    color: $red;
  }
  -webkit-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, .25);
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, .25);
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 8;
  #header {
    color: $black;
    .header-row {
      height: $headerHeight;
      padding-top: 6px;
    }
    .logo {
      display: block;
      position: relative;
      padding-top: 10px;
      &::after {
        content: '';
        position: absolute;
        height: 33px;
        width: 100px;
        background: url(#{$img_path}/logo.png);
        background-size: contain;
      }
      &:hover {
        &:after {
          background: url(#{$img_path}/logo-hover.png);
          content: '';
          position: absolute;
          height: 33px;
          width: 100px;
          background-size: contain;
        }
      }
    }
    ul {
      text-align: right;
      padding: 7px 0 5px;
      margin-bottom: 0;
      li {
        position: relative;
        @include transition(all .3s linear);
        cursor: pointer;
        text-align: center;
        padding: 0 12px;
        span.menu-legend {
          font-size: 1em;
        }
        &:hover {
          color: $red;
        }
        .pending-wrapper {
          position: relative;
          .pending-num {
            width: 16px;
            height: 16px;
            background: $red;
            color: $white;
            position: absolute;
            z-index: 2;
            border-radius: 50%;
            top: -6px;
            left: -12px;
            font-size: .65em;
            font-weight: 300;
          }
          .no-pendings,
          .no-pendings i {
            opacity: .5;
            pointer-events: none !important;
            cursor: initial !important;
            color: initial !important;
            display: inline-block;
          }
        }
      }
      .header-form {
        float: right;
        .mat-expansion-panel {
          box-shadow: none;
          .mat-form-field {
            display: block;
            .mat-form-field-infix {
              width: auto;
            }
          }
        }
      }
    }
  }
}
