body {
  font-size: 18px;
  color: $main;
  font-family: $fira;
  word-wrap: break-word;
  font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $montserrat;
  font-weight: 300;
}

img {
  max-width: 100%;
}
main {
  padding-top: $headerHeight;
  min-height: calc(100vh - #{$footerHeight});
}

:focus,:active {
  outline: none!important;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  white-space:pre-line;  
  position:relative;

  
}
::-moz-placeholder { /* Firefox 19+ */
     white-space:pre-line;  
  position:relative;

}
:-ms-input-placeholder { /* IE 10+ */
    white-space:pre-line;  
  position:relative;

}
:-moz-placeholder { /* Firefox 18- */
     white-space:pre-line;  
  position:relative;

}