/* palette */
$red: rgba(254, 74, 73, 1);
$yellow: rgba(254, 215, 102, 1);
$orange: #ff9800;
$blue: rgba(0, 159, 183, 1);
$grey: rgba(168, 168, 171, 1);
$lightgrey:#e3e3e1;
$green:#77DD77;
$black: #323232;
$main: #363636;

$white:white;
$darkwhite:#d5d5d5;
/* fonts */
$fira:'Fira Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;  

$img_path:'../img';
$headerHeight:70px;
$footerHeight:50px;
$topPaddedSection:40px;