<div class="login-wrapper" *ngIf="!session.getUser()">
  <mat-expansion-panel [expanded]='visible'>
    <mat-expansion-panel-header>
      <mat-panel-title> Login </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput type="text" placeholder="Username" [(ngModel)]="name" #loginName="ngModel" required> </mat-form-field>
    <div *ngIf="loginName.errors && (loginName.dirty || loginName.touched)">
      <small class="error"> Username is required. </small>
    </div>
    <mat-form-field>
      <input matInput type="password" placeholder="Your password" [(ngModel)]="password" #loginPassw="ngModel" required> </mat-form-field>
    <div *ngIf="loginPassw.errors && (loginPassw.dirty || loginPassw.touched)">
      <small class="error"> Password is required. </small>
    </div>
    <button (click)="login()" mat-button id="login">Login</button>
  </mat-expansion-panel>
</div>

